* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*fonts for website*/
}

/*Remove default page margin so header and navbar stick to edge of viewport*/
body {
    margin: 0;
    padding: 0;
    background-color: #fff7fd; /*website background color*/
}

/*STYLING FOR NAVIGATION BAR*/
header {
    position: sticky; /* make navbar stick to top */
    top: 0;
    z-index: 10; /* stay on top of other content */
    background-color: #520387; /* navbar background */
}

#navbar {
    display: flex; /* horizontal layout */
    list-style-type: none; /* remove bullets from ul */
    margin: 0;
    padding: 0; /* remove horizontal padding so navbar can align flush */
    height: 75px; /* fixed navbar height */
    align-items: center; /* vertical centering */
    overflow: hidden;
    font-size: 1.1rem; /* readable font size */
}

#logo {
    width: 100px;
}

#navbar li {
    width: 150px;
    height: 100%;
}

#navbar a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 10px; /* soften hover edges */
}

#navbar a:hover {
    background-color: #742ce7;
    font-weight: bold;
    color: #ffeadd;
    transform: scale(1.15);
}

/*STYLING FOR MAIN CONTENT*/
main {
    width: 90%;
    margin: 0px auto;
    color: #2b0037;
}

main section {
    clear: both; /*separate sections from each other*/
}

main h1 {
    text-align: center;
    background-color: #f3904a;
    color: #feeeff;
    margin: 0px;
    position: sticky;
    top: 70px;
    padding: 5px;
    border-radius: 8px 8px 10px 10px;
    z-index: 5;
}

main p {
    font-size: large;
    padding: 2px 10px;
}

/*STYLING FOR 'WHO ARE WE'*/
#who-are-we p {
    font-size: larger;
}
#who-are-we p:nth-of-type(2) {
    margin-right: 250px;    
}
#who-are-we img {
    float: right;
    width: 230px;
    border-radius: 100%; 
    border: 5px solid #ac4574;
    margin-bottom: 20px;
    transform: rotate(15deg);
    transition: all 0.5s ease;
}
#who-are-we img:hover {
    transform: rotate(0deg) scale(1.1);
    box-shadow: 0px 0px 15px 5px #ac4574;
}

/*STYLING FOR ASIDE (OTHER ADVOCACY GROUPS)*/
aside {
    width: 40%;
    border: 3px solid #ac4574;
    border-radius: 10px;;
    padding: 5px;
    margin: 10px 10px 10px 90px;
}
aside h1 {
    text-align: center;
    background-color: #f3904a;
    color: #feeeff;
    margin: 0px;
    padding: 5px;
    border-radius: 8px 8px 10px 10px;
}
aside h2 {
    font-size: 1em;
    text-align: center;
    margin: 0px auto 5px;
    font-style: italic;
    font-weight: normal;
}

/*buttons for links*/
aside a {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 8px;
    text-align: center;
    background-color: #ff9cc9;
    border: #834963 2px solid;
    color: #2b0037;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}
aside a:hover {
    background-color: #db5f97;
    font-weight: bold;
    color: #ffeadd;
    transform: scale(1.1);
}
aside a:active {
    transform: scale(1.05);
}

footer {
    clear: both;
    background-color: #c04f82;
    padding: 5px;
    border: #981a53 10px solid;
    border-radius: 25px 25px 5px 5px;
    margin-top: 50px;
}
footer h1 {
    width: fit-content;
    margin: 10px auto;
    background-color: #ff8c3a;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
footer p {
    color: white;
    padding: 5px 20px;
    width: fit-content;
    font-size: larger;
    margin: 20px auto;
    padding: 5px 10px;
    background-color: #ffffff33;
    border-radius: 10px;
}
footer article { /*center footer content*/
    width: 40%;
    margin: auto;
}
footer article div { /*center image sprites*/
    width: fit-content;
    margin: auto;
    padding: 0px 10px;
}

/*image sprites*/
#facebook {
	background-image: url('imgSprite.png');
    background-position: -236px -27px;
	width: 128px;
    height: 128px;
    margin: 10px;
}
#instagram {
    background-image: url('imgSprite.png');
    background-position: -36px -27px;
    width: 128px;
    height: 128px;
    margin: 10px;
}